body {
    font-family: sans-serif;
    color: rgb(39, 48, 63);
}

#timer {
    text-align: right;
    font-style: italic;
    color: rgb(90, 95, 104);
}

#quizBody {
    width: 40%;
    background-color: gold;
    margin: auto;
    padding: 30px;
    margin-top: 10%;
    border-radius: 15px;
}

button {
    display: block;
    padding: 9px;
    margin-top: 5px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    background-color:rgb(255, 244, 179);
    color:rgb(39, 48, 63);
}

#mainHead {
    
}

#desc {
    text-align: center;
    color: rgb(39, 48, 63);
    font-style: italic;
}